{{#if tasks}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>N°</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each tasks}}
        <tr>
          <td>{{@index}}</td>
          <td><strong>{{title}}</strong></td>
          <td>{{description}}</td>
          <td>
            {{#if done}}
              <a
                class="btn btn-success"
                href="/tasks/{{_id}}/toggleDone"
              >Hecho</a>
            {{else}}
              <a class="btn btn-secondary" href="/tasks/{{_id}}/toggleDone">
                Deshacer
              </a>
            {{/if}}
            <a href="/tasks/{{_id}}/delete" class="btn btn-danger">
              Borrar
            </a>
            <a href="/tasks/{{_id}}/edit" class="btn btn-info">
              Editar
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h2>No hay Tareas Pendientes Dr.  ¡Disfrute su día!</h2>
      <img src="/icons/empty.svg" class="w-75" />
    </div>

  </div>
{{/if}}